.text-color {
    color: $primary !important;
}
.bg-color {
    background-color: $primary;
}
.bg-secondary-color {
    background-color: $secondary;
}
.btn:focus {
    box-shadow: none;
    outline: none;
}
.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: $primary;
}
.btn-clear {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: $white;
    margin: 0;
    outline: 0;
    line-height: 1;
}
.tfx-100 {
    transform: translateX(80%);
}
.font-15 {
    font-size: 15px;
}
.h-100vh {
    height: 100vh;
}
.mh-100vh {
    min-height: 100vh;
}
.bg-google {
    background-color: #dd4b39;
}
.bg-facebook {
    background-color: #3b5998;
}
svg {
    fill: $primary;
}
