@import "variables";
@import "classes";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    font-family: "Roboto", sans-serif;
    line-height: 1;
    color: lighten($black, 50%);
    overflow-x: hidden;
}

#unlock {
    min-height: 93vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}

#copyright {
    margin-top: 15px;
}

#top-color {
    background-color: $primary;
    padding: 2px 20px;
    text-align: right;
    line-height: 28px;
    .full-screen-btn {
        background-color: transparent;
        border: 0;
        padding: 0;
        color: $white;
        margin: 0;
        outline: 0;
        line-height: 1;
        margin-left: 13px;
        .close {
            opacity: 1;
        }
        svg {
            width: 15px;
            fill: $white;
        }
    }
}

#content {
    .scrollbar-track.scrollbar-track-x {
        display: none !important;
    }
    .scrollbar-thumb {
        width: 5px;
        background-color: rgba($color: $primary, $alpha: 0.5);
    }
    .scrollbar-track-y {
        width: 5px;
    }
    padding: 10px 15px;
    .speaker-view-grid {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
        a.speaker-view-btn {
            margin-right: 6px !important;
        }
    }
    .meeting-member {
        .left-content {
            .top-icon {
                a {
                    text-decoration: none;
                    svg {
                        width: 15px;
                    }
                }
                a.speaker-view-btn {
                    margin-right: 10px;
                }
                margin-bottom: 5px;
            }
            .all-members {
                border: lighten($dark, 40%) solid 1px;
                height: 100%;
                position: relative;
            }
        }
        .all-members {
            .single-close-btn {
                position: absolute;
                z-index: 33;
                right: 1px;
                top: 1px;
                display: inline-block;
                display: none;
                background: rgba($color: $primary, $alpha: 0.1);
                padding: 10px;
                cursor: pointer;
                svg {
                    width: 20px;
                }
                .close {
                    opacity: 1;
                }
            }
            .col {
                cursor: pointer;
            }
            .left-arrow,
            .right-arrow {
                position: absolute;
                z-index: 9;
                cursor: pointer;
                top: 47%;
                display: inline-block;
                background: rgba($color: $primary, $alpha: 0.1);
                width: 40px;
                line-height: 40px;
                border-radius: 50%;
                padding-left: 10px;
                svg {
                    width: 15px;
                }
            }
            .left-arrow {
                left: 10px;
            }
            .right-arrow {
                right: 10px;
                transform: rotate(180deg);
            }
            .single-member {
                border: 1px solid #000;
                background-color: #262626;
                height: 180px;
                text-align: center;
                position: relative;
                video {
                    height: 100%;
                    max-width: 100%;
                    max-height: 100%;
                }
                .name {
                    padding-right: 3px;
                    background-color: rgba($color: #000000, $alpha: 0.4);
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    z-index: 3;
                    color: $white;
                    border-left: 4px solid darken($primary, 20%);
                    padding-left: 10px;
                    svg {
                        cursor: pointer;
                        width: 12px;
                    }
                }
            }
        }
    }
    .speaker-view-top-member {
        .left-arrow,
        .right-arrow {
            position: absolute;
            z-index: 9;
            cursor: pointer;
            top: 40%;
            line-height: 25px;
            width: unset;
            background-color: rgba($color: $primary, $alpha: 0.1);
            padding-left: 6px;
            border-radius: 50px 0 0 50px;
            width: 25px;
            svg {
                width: 10px;
                margin-top: -2px;
            }
        }
        .left-arrow {
            left: -25px;
        }
        .right-arrow {
            right: -25px;
            transform: rotate(180deg);
        }
        width: 75%;
        .single-member {
            border: 1px solid #000;
            background-color: #262626;
            height: 120px;
            text-align: center;
            position: relative;
            video {
                height: 100%;
                max-width: 100%;
            }
            .name {
                padding-right: 3px;
                background-color: rgba($color: #000000, $alpha: 0.4);
                position: absolute;
                bottom: 10px;
                left: 0;
                z-index: 3;
                color: $white;
                border-left: 4px solid darken($primary, 20%);
                padding-left: 10px;
                svg {
                    cursor: pointer;
                    width: 12px;
                }
            }
        }
    }
    .sidebar {
        transition: 0.3s;
        .tab-pane {
            height: 100%;
        }
        .right-content {
            padding: 15px;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            margin-left: 15px;
            border-left: lighten($dark, 40%) solid 1px;
            .sidebar-close-btn {
                background-color: rgba($color: $primary, $alpha: 0.1);
                padding: 0;
                outline: 0;
                border: 0;
                color: $primary;
                font-size: 20px;
                margin-bottom: 5px;
                padding: 2px 12px;
                border-radius: 20px;
                span {
                    font-size: 17px;
                }
            }
            .search {
                .input-group {
                    border: 1px solid $primary;
                    border-radius: 35px;
                    height: 26px;
                    overflow: hidden;
                    .input-group-text {
                        color: $primary;
                        border: 0;
                        padding: 0;
                        border-radius: 0;
                        padding: 5px 8px;
                        svg {
                            width: 15px;
                        }
                    }
                    .form-control {
                        background-color: transparent;
                        color: $primary;
                        border-radius: 0;
                        border: 0;
                        padding: 0;
                        padding-left: 5px;
                        padding-right: 10px;
                        height: unset;
                        min-height: unset;
                        font-size: 14px;
                    }
                    .form-control:focus {
                        border: 0;
                        box-shadow: none;
                    }
                }
            }
            .user-list {
                .user {
                    font-size: 14px;
                    padding: 3px 6px;
                    border-radius: 23px;
                    border: 1px solid lighten($primary, 30%);
                    color: $primary;
                    .audio {
                        cursor: pointer;
                    }
                    svg {
                        width: 20px;
                        max-height: 18px;
                    }
                    .right {
                        svg {
                            cursor: pointer;
                        }
                    }
                }
            }
            .mute-panel {
                padding-top: 3px;
                .btn-clear {
                    background-color: rgba(255, 76, 102, 0.1);
                    border: 0;
                    padding: 0;
                    color: $primary;
                    margin: 0;
                    outline: 0;
                    line-height: 1;
                    padding: 4px 10px;
                    border-radius: 21px;
                    font-size: 14px;
                    .material-icons {
                        font-size: unset;
                    }
                }
                .btn-clear.success {
                    background-color: rgba($color: #00b74a, $alpha: 0.1);
                    color: #00b74a;
                }
            }
            .group-chat {
                .right,
                .left {
                    margin-bottom: 5px;
                }
                .right {
                    text-align: right;
                    span {
                        display: inline-block;
                        background-color: $primary;
                        color: $white;
                        padding: 4px 10px;
                        padding-left: 15px;
                        border-radius: 20px 0 0 20px;
                        font-size: 13px;
                    }
                }
            }
            .message-to {
                font-size: 13px;
                margin-bottom: 5px;
                select {
                    min-width: 130px;
                    background-color: #d8d7d7;
                    border: 0;
                    padding: 4px 6px;
                    border-radius: 20px;
                }
            }
            .message {
                textarea.form-control {
                    min-height: unset;
                }
                textarea {
                    border-radius: 0;
                    border-width: 0;
                    border-bottom-width: 1px;
                }
                 ::placeholder {
                    color: $primary;
                }
            }
            .speaker-view-sidebar {
                .speaker,
                .participant-box {
                    position: relative;
                }
                .speaker {
                    height: 170px;
                    background-color: #262626;
                    text-align: center;
                    .name {
                        padding-right: 3px;
                        background-color: rgba($color: #000000, $alpha: 0.4);
                        position: absolute;
                        bottom: 10px;
                        left: 0;
                        z-index: 3;
                        color: $white;
                        border-left: 4px solid darken($primary, 20%);
                        padding-left: 10px;
                        svg {
                            width: 12px;
                        }
                    }
                    video {
                        height: 100%;
                        width: 100%;
                    }
                }
                .participant-box {
                    height: 90px;
                    background-color: #262626;
                    text-align: center;
                    .name {
                        padding-right: 3px;
                        background-color: rgba($color: #000000, $alpha: 0.4);
                        position: absolute;
                        bottom: 10px;
                        left: 0;
                        z-index: 3;
                        color: $white;
                        border-left: 4px solid darken($primary, 20%);
                        padding-left: 6px;
                        font-size: 14px;
                        svg {
                            width: 9px;
                        }
                    }
                    video {
                        height: 100%;
                        width: 100%;
                    }
                }
                .participant-pagination {
                    nav {
                        ul {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

#bottom {
    background-color: $white;
    padding: 15px 20px;
    .my-btn-floating {
        height: 40px;
        text-align: center;
        height: 40px;
        background-color: rgba($color: $primary, $alpha: 0.1);
        border: 0;
        outline: 0;
        width: 40px;
        color: $primary;
        border-radius: 50%;
        img {
            width: 20px;
            max-height: 20px;
        }
    }
    .center {
        button {
            margin-right: 3px;
        }
    }
    .nav-tabs {
        .nav-item {
            .nav-link {
                padding: 0;
                border: 0;
            }
            .nav-link:hover {
                background-color: transparent;
            }
        }
    }
    .end-call {
        background: linear-gradient(267deg, $primary, $secondary);
        transition: 0.3s;
        border: 0;
        padding: 0;
        color: $white;
        margin: 0;
        outline: 0;
        line-height: 1;
        padding: 8px 15px;
        border-radius: 21px;
    }
    .end-call:hover {
        background: linear-gradient(267deg, $secondary, $primary);
    }
}

#navbar {
    .navbar {
        border-bottom: 1px solid lighten($black, 85%);
        .navbar-brand {
            img {
                width: 110px;
            }
        }
        .navbar-toggler {
            svg {
                fill: $primary;
                width: 25px;
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $primary;
                }
                .nav-link.active {
                    color: $white;
                    background-color: $primary;
                    padding-right: 1rem;
                    padding-left: 1rem;
                    border-radius: 20px;
                }
            }
        }
    }
}

#login-login {
    padding: 15px 0;
    .login-area {
        box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.12);
        max-width: 400px;
        margin: auto;
        padding: 45px;
        border-radius: 5px;
    }
    .login-area.signup {
        max-width: 650px;
        .hr-line {
            position: relative;
            border-top: 1px solid lighten($black, 85%);
            span {
                position: absolute;
                top: -8px;
            }
        }
    }
}