@import "variables";
@import "classes";

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1400px) {
    body {
        margin: 0 7%;
    }
}
@media only screen and (max-width: 767px) {
    #unlock {
        min-height: 100vh;
        box-shadow: none;
    }
    #copyright {
        display: none;
    }
    #content .speaker-view-top-member .right-arrow,
    #content .speaker-view-top-member .left-arrow {
        width: 25px;
        border-radius: 50%;
    }
    #content .speaker-view-top-member .left-arrow {
        left: 10px;
    }
    #content .speaker-view-top-member .right-arrow {
        right: 10px;
    }
    #content {
        margin-bottom: 15px;
        .sidebar {
            position: absolute;
            width: 100%;
            right: -100%;
            max-height: 98% !important;
            z-index: 99;
            background-color: #fff;
            .right-content {
                margin-left: 0;
                border-left: 0;
                padding-right: 15px;
                .mute-panel {
                    width: 100%;
                    bottom: 18px;
                }
            }
        }
        .sidebar.show {
            right: 0;
        }
        .meeting-member {
            height: 99% !important;
        }
        .mute-panel {
            margin-bottom: 5px;
        }
    }
    #content .speaker-view-top-member {
        width: 100%;
    }
    #bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        padding: 6px 15px;
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    #content .meeting-member .all-members .single-member .name {
        font-size: 14px;
    }

    #top-color {
        padding-left: 15px;
        padding-right: 15px;
    }
    #bottom {
        .my-btn-floating {
            height: 35px;
            width: 35px;
        }
    }
    #login-login .login-area {
        padding: 30px;
    }
}

@media only screen and (max-width: 480px) {
    #bottom {
        .my-btn-floating {
            height: 30px;
            width: 30px;
            svg {
                width: 17px;
                max-height: 17px;
            }
        }
        .end-call {
            padding: 6px 12px;
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 400px) {
    #content .meeting-member .all-members .single-member .name {
        font-size: 12px;
    }
    #content .speaker-view-top-member {
        .single-member {
            height: 80px;
        }
    }
    #bottom {
        .content {
            flex-wrap: wrap;
            .right {
                width: 100%;
                margin-top: 5px;
                .end-call {
                    padding: 6px 12px;
                    font-size: 14px;
                    width: 100%;
                }
            }
        }
    }
    #login-login .login-area {
        padding: 25px;
    }
}
