//$primary: #ff4c66;
$primary: #009EF7;
$secondary: rgba(0, 156, 247, 0.658);
$black: #000;
$white: #fff;
$dark: #999999;
$lightButton1:rgba(143, 143, 143, 0.1);
$lightButton2:rgba(143, 143, 143, 0.1);