@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.text-color {
  color: #3f3f70 !important;
}

.bg-color {
  background-color: #3f3f70;
}

.bg-secondary-color {
  background-color: #3f3f7094;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-color: #3f3f70;
}

.btn-clear {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #fff;
  margin: 0;
  outline: 0;
  line-height: 1;
}

.tfx-100 {
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
}

.font-15 {
  font-size: 15px;
}

.h-100vh {
  height: 100vh;
}

.mh-100vh {
  min-height: 100vh;
}

.bg-google {
  background-color: #dd4b39;
}

.bg-facebook {
  background-color: #3b5998;
}

svg {
  fill: #3f3f70;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: gray;
  overflow-x: hidden;
}

#unlock {
  min-height: 93vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}

#copyright {
  margin-top: 15px;
}

#top-color {
  background-color: #3f3f70;
  padding: 2px 20px;
  text-align: right;
  line-height: 28px;
}

#top-color .full-screen-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #fff;
  margin: 0;
  outline: 0;
  line-height: 1;
  margin-left: 13px;
}

#top-color .full-screen-btn .close {
  opacity: 1;
}

#top-color .full-screen-btn svg {
  width: 15px;
  fill: #fff;
}

#content {
  padding: 10px 15px;
}

#content .scrollbar-track.scrollbar-track-x {
  display: none !important;
}

#content .scrollbar-thumb {
  width: 5px;
  background-color: rgba(63, 63, 112, 0.5);
}

#content .scrollbar-track-y {
  width: 5px;
}

#content .speaker-view-grid {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

#content .speaker-view-grid a.speaker-view-btn {
  margin-right: 6px !important;
}

#content .meeting-member .left-content .top-icon {
  margin-bottom: 5px;
}

#content .meeting-member .left-content .top-icon a {
  text-decoration: none;
}

#content .meeting-member .left-content .top-icon a svg {
  width: 15px;
}

#content .meeting-member .left-content .top-icon a.speaker-view-btn {
  margin-right: 10px;
}

#content .meeting-member .left-content .all-members {
  border: #dadada solid 1px;
  height: 100%;
  position: relative;
}

#content .meeting-member .all-members .single-close-btn {
  position: absolute;
  z-index: 33;
  right: 1px;
  top: 1px;
  display: inline-block;
  display: none;
  background: rgba(63, 63, 112, 0.1);
  padding: 10px;
  cursor: pointer;
}

#content .meeting-member .all-members .single-close-btn svg {
  width: 20px;
}

#content .meeting-member .all-members .single-close-btn .close {
  opacity: 1;
}

#content .meeting-member .all-members .col {
  cursor: pointer;
}

#content .meeting-member .all-members .left-arrow,
#content .meeting-member .all-members .right-arrow {
  position: absolute;
  z-index: 9;
  cursor: pointer;
  top: 47%;
  display: inline-block;
  background: rgba(63, 63, 112, 0.1);
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  padding-left: 10px;
}

#content .meeting-member .all-members .left-arrow svg,
#content .meeting-member .all-members .right-arrow svg {
  width: 15px;
}

#content .meeting-member .all-members .left-arrow {
  left: 10px;
}

#content .meeting-member .all-members .right-arrow {
  right: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#content .meeting-member .all-members .single-member {
  border: 1px solid #000;
  background-color: #262626;
  height: 180px;
  text-align: center;
  position: relative;
}

#content .meeting-member .all-members .single-member video {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#content .meeting-member .all-members .single-member .name {
  padding-right: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 3;
  color: #fff;
  border-left: 4px solid #1a1a2f;
  padding-left: 10px;
}

#content .meeting-member .all-members .single-member .name svg {
  cursor: pointer;
  width: 12px;
}

#content .speaker-view-top-member {
  width: 75%;
}

#content .speaker-view-top-member .left-arrow,
#content .speaker-view-top-member .right-arrow {
  position: absolute;
  z-index: 9;
  cursor: pointer;
  top: 40%;
  line-height: 25px;
  width: unset;
  background-color: rgba(63, 63, 112, 0.1);
  padding-left: 6px;
  border-radius: 50px 0 0 50px;
  width: 25px;
}

#content .speaker-view-top-member .left-arrow svg,
#content .speaker-view-top-member .right-arrow svg {
  width: 10px;
  margin-top: -2px;
}

#content .speaker-view-top-member .left-arrow {
  left: -25px;
}

#content .speaker-view-top-member .right-arrow {
  right: -25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#content .speaker-view-top-member .single-member {
  border: 1px solid #000;
  background-color: #262626;
  height: 120px;
  text-align: center;
  position: relative;
}

#content .speaker-view-top-member .single-member video {
  height: 100%;
  max-width: 100%;
}

#content .speaker-view-top-member .single-member .name {
  padding-right: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 3;
  color: #fff;
  border-left: 4px solid #1a1a2f;
  padding-left: 10px;
}

#content .speaker-view-top-member .single-member .name svg {
  cursor: pointer;
  width: 12px;
}

#content .sidebar {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#content .sidebar .tab-pane {
  height: 100%;
}

#content .sidebar .right-content {
  padding: 15px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 15px;
  border-left: #dadada solid 1px;
}

#content .sidebar .right-content .sidebar-close-btn {
  background-color: rgba(63, 63, 112, 0.1);
  padding: 0;
  outline: 0;
  border: 0;
  color: #3f3f70;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 2px 12px;
  border-radius: 20px;
}

#content .sidebar .right-content .sidebar-close-btn span {
  font-size: 17px;
}

#content .sidebar .right-content .search .input-group {
  border: 1px solid #3f3f70;
  border-radius: 35px;
  height: 26px;
  overflow: hidden;
}

#content .sidebar .right-content .search .input-group .input-group-text {
  color: #3f3f70;
  border: 0;
  padding: 0;
  border-radius: 0;
  padding: 5px 8px;
}

#content .sidebar .right-content .search .input-group .input-group-text svg {
  width: 15px;
}

#content .sidebar .right-content .search .input-group .form-control {
  background-color: transparent;
  color: #3f3f70;
  border-radius: 0;
  border: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 10px;
  height: unset;
  min-height: unset;
  font-size: 14px;
}

#content .sidebar .right-content .search .input-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#content .sidebar .right-content .user-list .user {
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 23px;
  border: 1px solid #8b8bbd;
  color: #3f3f70;
}

#content .sidebar .right-content .user-list .user .audio {
  cursor: pointer;
}

#content .sidebar .right-content .user-list .user svg {
  width: 20px;
  max-height: 18px;
}

#content .sidebar .right-content .user-list .user .right svg {
  cursor: pointer;
}

#content .sidebar .right-content .mute-panel {
  padding-top: 3px;
}

#content .sidebar .right-content .mute-panel .btn-clear {
  background-color: rgba(255, 76, 102, 0.1);
  border: 0;
  padding: 0;
  color: #3f3f70;
  margin: 0;
  outline: 0;
  line-height: 1;
  padding: 4px 10px;
  border-radius: 21px;
  font-size: 14px;
}

#content .sidebar .right-content .mute-panel .btn-clear .material-icons {
  font-size: unset;
}

#content .sidebar .right-content .mute-panel .btn-clear.success {
  background-color: rgba(0, 183, 74, 0.1);
  color: #00b74a;
}

#content .sidebar .right-content .group-chat .right,
#content .sidebar .right-content .group-chat .left {
  margin-bottom: 5px;
}

#content .sidebar .right-content .group-chat .right {
  text-align: right;
}

#content .sidebar .right-content .group-chat .right span {
  display: inline-block;
  background-color: #3f3f70;
  color: #fff;
  padding: 4px 10px;
  padding-left: 15px;
  border-radius: 20px 0 0 20px;
  font-size: 13px;
}

#content .sidebar .right-content .message-to {
  font-size: 13px;
  margin-bottom: 5px;
}

#content .sidebar .right-content .message-to select {
  min-width: 130px;
  background-color: #d8d7d7;
  border: 0;
  padding: 4px 6px;
  border-radius: 20px;
}

#content .sidebar .right-content .message textarea.form-control {
  min-height: unset;
}

#content .sidebar .right-content .message textarea {
  border-radius: 0;
  border-width: 0;
  border-bottom-width: 1px;
}

#content .sidebar .right-content .message ::-webkit-input-placeholder {
  color: #3f3f70;
}

#content .sidebar .right-content .message :-ms-input-placeholder {
  color: #3f3f70;
}

#content .sidebar .right-content .message ::-ms-input-placeholder {
  color: #3f3f70;
}

#content .sidebar .right-content .message ::placeholder {
  color: #3f3f70;
}

#content .sidebar .right-content .speaker-view-sidebar .speaker,
#content .sidebar .right-content .speaker-view-sidebar .participant-box {
  position: relative;
}

#content .sidebar .right-content .speaker-view-sidebar .speaker {
  height: 170px;
  background-color: #262626;
  text-align: center;
}

#content .sidebar .right-content .speaker-view-sidebar .speaker .name {
  padding-right: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 3;
  color: #fff;
  border-left: 4px solid #1a1a2f;
  padding-left: 10px;
}

#content .sidebar .right-content .speaker-view-sidebar .speaker .name svg {
  width: 12px;
}

#content .sidebar .right-content .speaker-view-sidebar .speaker video {
  height: 100%;
  width: 100%;
}

#content .sidebar .right-content .speaker-view-sidebar .participant-box {
  height: 90px;
  background-color: #262626;
  text-align: center;
}

#content .sidebar .right-content .speaker-view-sidebar .participant-box .name {
  padding-right: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 3;
  color: #fff;
  border-left: 4px solid #1a1a2f;
  padding-left: 6px;
  font-size: 14px;
}

#content .sidebar .right-content .speaker-view-sidebar .participant-box .name svg {
  width: 9px;
}

#content .sidebar .right-content .speaker-view-sidebar .participant-box video {
  height: 100%;
  width: 100%;
}

#content .sidebar .right-content .speaker-view-sidebar .participant-pagination nav ul {
  margin: 0;
}

#bottom {
  background-color: #fff;
  padding: 15px 20px;
}

#bottom .my-btn-floating {
  height: 40px;
  text-align: center;
  height: 40px;
  background-color: rgba(63, 63, 112, 0.1);
  border: 0;
  outline: 0;
  width: 40px;
  color: #3f3f70;
  border-radius: 50%;
}

#bottom .my-btn-floating img {
  width: 20px;
  max-height: 20px;
}

#bottom .center button {
  margin-right: 3px;
}

#bottom .nav-tabs .nav-item .nav-link {
  padding: 0;
  border: 0;
}

#bottom .nav-tabs .nav-item .nav-link:hover {
  background-color: transparent;
}

#bottom .end-call {
  background: #3f3f70;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0;
  padding: 0;
  color: #fff;
  margin: 0;
  outline: 0;
  line-height: 1;
  padding: 8px 15px;
  border-radius: 21px;
}

#bottom .end-call:hover {
  background: #3f3f7094;
}

#navbar .navbar {
  border-bottom: 1px solid #d9d9d9;
}

#navbar .navbar .navbar-brand img {
  width: 110px;
}

#navbar .navbar .navbar-toggler svg {
  fill: #3f3f70;
  width: 25px;
}

#navbar .navbar .navbar-nav .nav-item .nav-link {
  color: #3f3f70;
}

#navbar .navbar .navbar-nav .nav-item .nav-link.active {
  color: #fff;
  background-color: #3f3f70;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 20px;
}

#login-login {
  padding: 15px 0;
}

#login-login .login-area {
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.12);
  max-width: 400px;
  margin: auto;
  padding: 45px;
  border-radius: 5px;
}

#login-login .login-area.signup {
  max-width: 650px;
}

#login-login .login-area.signup .hr-line {
  position: relative;
  border-top: 1px solid #d9d9d9;
}

#login-login .login-area.signup .hr-line span {
  position: absolute;
  top: -8px;
}

.text-color {
  color: #3f3f70 !important;
}

.bg-color {
  background-color: #3f3f70;
}

.bg-secondary-color {
  background-color: #3f3f7094;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-color: #3f3f70;
}

.btn-clear {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #fff;
  margin: 0;
  outline: 0;
  line-height: 1;
}

.tfx-100 {
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
}

.font-15 {
  font-size: 15px;
}

.h-100vh {
  height: 100vh;
}

.mh-100vh {
  min-height: 100vh;
}

.bg-google {
  background-color: #dd4b39;
}

.bg-facebook {
  background-color: #3b5998;
}

svg {
  fill: #3f3f70;
}

@media only screen and (min-width: 1400px) {
  body {
    margin: 0 7%;
  }
}

@media only screen and (max-width: 767px) {
  #unlock {
    min-height: 100vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #copyright {
    display: none;
  }
  #content .speaker-view-top-member .right-arrow,
  #content .speaker-view-top-member .left-arrow {
    width: 25px;
    border-radius: 50%;
  }
  #content .speaker-view-top-member .left-arrow {
    left: 10px;
  }
  #content .speaker-view-top-member .right-arrow {
    right: 10px;
  }
  #content {
    margin-bottom: 15px;
  }
  #content .sidebar {
    position: absolute;
    width: 100%;
    right: -100%;
    max-height: 98% !important;
    z-index: 99;
    background-color: #fff;
  }
  #content .sidebar .right-content {
    margin-left: 0;
    border-left: 0;
    padding-right: 15px;
  }
  #content .sidebar .right-content .mute-panel {
    width: 100%;
    bottom: 18px;
  }
  #content .sidebar.show {
    right: 0;
  }
  #content .meeting-member {
    height: 99% !important;
  }
  #content .mute-panel {
    margin-bottom: 5px;
  }
  #content .speaker-view-top-member {
    width: 100%;
  }
  #bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 6px 15px;
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  #content .meeting-member .all-members .single-member .name {
    font-size: 14px;
  }
  #top-color {
    padding-left: 15px;
    padding-right: 15px;
  }
  #bottom .my-btn-floating {
    height: 35px;
    width: 35px;
  }
  #login-login .login-area {
    padding: 30px;
  }
}

@media only screen and (max-width: 480px) {
  #bottom .my-btn-floating {
    height: 30px;
    width: 30px;
  }
  #bottom .my-btn-floating svg {
    width: 17px;
    max-height: 17px;
  }
  #bottom .end-call {
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  #content .meeting-member .all-members .single-member .name {
    font-size: 12px;
  }
  #content .speaker-view-top-member .single-member {
    height: 80px;
  }
  #bottom .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #bottom .content .right {
    width: 100%;
    margin-top: 5px;
  }
  #bottom .content .right .end-call {
    padding: 6px 12px;
    font-size: 14px;
    width: 100%;
  }
  #login-login .login-area {
    padding: 25px;
  }
}
/*# sourceMappingURL=style.css.map */